<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <style type= text/css>
    table, th, td {
        border:3px solid black;
        color: black;
    }
    div {
        column-count: 2;
        column-rule-style: solid;
    }
    </style>
    

    <title>SOCCER</title>

    
    </head>
    <body>
        <center><h1 style="color: black;">SOCCER</h1></center>
        <div><h1>About Soccer</h1><p>A football match is played by two teams, with each allowed no more than 11 players on the field at any one time, one of whom is a goalkeeper.
            A match is played in two 45 minute halves.
            The game begins with the toss of a coin, and the winning captain decides which goal to defend or to take the first kick off.
            All players must use their feet head or chest to play the ball. Only the goalkeeper is allowed to use their hands, and only within their designated goal area.
            The aim of the game is to score a goal, which is achieved by kicking or heading the ball into the opposition team's goal.
            If the ball touches or crosses the side line, it is thrown back in by the team that was not the last to touch the ball.
            The game is controlled by a central referee, and two linesmen. They award free kicks and penalties when rules are broken. For continual breaking of rules or for a bad foul, the player may be sent off.</p>

        <p>Soccer, or better known to the rest of the world as football, is one of the oldest sports in history. Dating back to 206 B.C., there are accounts of Chinese soldiers playing Tsu’chu, “kicking the ball,” to supplement their training regiments during the Han Dynasty.<br> While many other ancient cultures played games involving a ball, Tsu’chu was the first to not allow hands. Goals consisted of a net attached to two bamboo poles and elevated 30 feet in the air. This is quite the contrast to modern goals that sit on the ground and extend eight feet high and 24 feet wide. The particular style of playing a game with a ball, centered around one’s feet, spread throughout the world. 

            During the medieval period in Europe, particularly in England, games were played in towns that pitted rival squads against one another. This was called Folkball. The goal was to place the ball into a designated area, usually the captain’s house, to score a point.<br> This would often entail a distance of a few miles between scoring destinations. Games typically resulted in low scoring matches as the process of advancing the ball would be brutal and without regard to one’s well being. Without any set rules the game would cause massive commotion throughout the towns in which it was held, leading to it’s ban in the 14th century.  </p>
        </div>

        
            <h1>View more about Soccer
            <a href="https://en.wikipedia.org/wiki/Association_football" target="blank">here</a></h1>

            <h2>INTERNATIONAL WORLD CUP WINNERS</h2>
            <table style="width: 100%">
                <tr>
                    <td></td>
                    <th>FRANCE 2018</th>
                    <th>GERMANY 2014</th>
                    <th>SPAIN 2010</th>
                    <th>ITALY 2006</th>
                
                </tr>
                <td></td>
                <td><center><img src="images/France.jpg" alt="France 2018 winners" style="width:500px;height: 400px;"> </center></td>
                <td><center><img src="images/germany.jpg" alt="Germany 2014 winners" style="width:500px;height: 400px;"> </center></td>
                <td><center><img src="images/spain.jpg" alt="Spain 2010 winners" style="width:500px;height: 400px;"> </center></td>
                <td><center><img src="images/italy.jpg" alt="Italy 2006 winners" style="width:500px;height: 400px;"> </center></td>
                <tr>
                    <th>Hosted Event</th>
                    <td>Russia</td>
                    <td>Brazil</td>
                    <td>South Africa</td>
                    <td>Germany</td>
                </tr>
            </table>
        

            <h2>My javascript example</h2>

           
            
            <button onclick="document.getElementById('myImage').src='images/pic_bulbon.gif'">Turn on the light</button>
            
            <img id="myImage" src="images/pic_bulbon.gif" style="width:100px">
            
            <button onclick="document.getElementById('myImage').src='images/pic_bulboff.gif'">Turn off the light</button>

            <h1>The Average Grades</h1>
            subject 1:<input type="text",value="num1"/><br><br>
            subject 2:<input type="text",value="num2"/><br><br>
            subject 3:<input type="text",value="num3"/><br><br>
            subject 4:<input type="text",value="num4"/><br><br>
            <button type="submit">calculate grade</button>
            <input type="text" id="result">   

            <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style type="text/css">
      .todo_list {
        width: 400px;
      }
      .todo_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      .high {
        color: red;
      }
      .medium {
        color: orange;
      }
      .low {
        color: blue;
      }
      .completed {
        color: grey;
        text-decoration: line-through;
      }
    </style>
  </head>
  <body>
    <h1>To Do List (Vue Js)</h1>
    <div id="app">
      <input type="text" v-model="input_todo" />
      <select v-model="input_priority">
        <option v-for="priority in priorities" v-bind:value="priority">
          {{ priority }}
        </option>
      </select>
      <button v-on:click="addTodo">add</button>
      <ul class="todo_list">
        <li v-for="(todo, index) in todos">
          <div class="todo_item">
            <span v-bind:class="{completed: todo.completed}"
              >{{ todo.text }}</span
            >
            <span v-bind:class="todo.priority">{{ todo.priority }}</span>
            <span
              ><button v-on:click="completeTodo(index)">complete</button></span
            >
            <span><button v-on:click="deleteTodo(index)">delete</button></span>
          </div>
        </li>
      </ul>
    </div>
    <script type="text/javascript">
      var app = new Vue({
        el: "#app",
        data: {
          input_todo: "",
          input_priority: "medium",
          priorities: ["high", "medium", "low"],
          todos: [],
        },
        methods: {
          addTodo: function () {
            this.todos.push({
              text: this.input_todo,
              priority: this.input_priority,
              completed: false,
            });
            this.input_todo = "";
            this.saveTodos();
          },
          deleteTodo: function (index) {
            this.todos.splice(index, 1);
            this.saveTodos();
          },
          completeTodo: function (index) {
            this.todos[index].completed = true;
          },
          saveTodos: function () {
            localStorage.setItem("todos", JSON.stringify(this.todos));
          },
        },
        created: function () {
          let todos = localStorage.getItem("todos");
          console.log(todos);
          if (todos) {
            this.todos = JSON.parse(todos);
          }
        },
      });
    </script>

    </body>
    
  
</html>
